.currentPlayer {
  display: inline-block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  max-width: 5rem;
  width: auto;
}

@media only screen and (min-width: env(--breakpoint)) {
  .currentPlayer {
    max-width: 10rem;
  }
}
