.opponents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.noPlayers {
  background-image: url('./happy-friends.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 8rem;
  width: 100%;
  text-align: center;
  height: 319px;
}
