.opponents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  margin: 0 auto;
  margin-top: 1rem;
  width: 100%;
}

.betterWithFriends {
  background-image: url("./happy-friends.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: auto;
  width: 100%;
  text-align: center;
  height: 156px; /* image is 126px tall */
  font-weight: 500;
  margin-top: 2rem;
}

@media only screen and (min-width: env(--breakpoint)) {
  .opponents {
    margin-top: 0;
    width: calc(120px * 4);
  }

  .betterWithFriends {
    margin-top: 60px;
  }
}

.miniBetterWithFriends {
  background-size: 250px;
  height: 100px;
}
