.pageWrapper {
  display: grid;
  grid-template-areas:
    "header"
    "cardheader"
    "cardbody"
    "opponents"
    "footer";
}

.bingoCardHeader {
  grid-area: cardheader;
}

.bingoCard {
  grid-area: cardbody;
}

.currentPlayer {
  grid-area: header;
  align-self: center;
  justify-self: center;
  margin-bottom: 1rem;
}

.opponents {
  grid-area: opponents;
}

.pageFooter {
  grid-area: footer;
}

@media only screen and (min-width: env(--breakpoint)) {
  .pageWrapper {
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "cardheader header"
      "cardbody opponents"
      "footer footer";
  }

  .currentPlayer {
    justify-self: end;
    margin-bottom: 0;
  }
}
