body {
  background-color: #d6d7d3;
  color: #2F3F52;
  font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  margin: 0;
  padding: 0;
}

.page-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: calc(100vh - 2rem);
  width: auto;
  padding: 1rem;
  margin: 0 auto;
}

@media only screen and (min-width: env(--breakpoint)) {
  .page-wrapper {
    width: env(--breakpoint);
  }
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.page-footer {
  font-size: .8rem;
  text-align: center;
  font-style: italic;
  margin: 3rem auto 0 auto;
  text-align: center;
}
