.tabs {
  display: inline-block;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.tab {
  display: inline-block;
}

.button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
}

.tab:hover,
.tabSelected {
  border-bottom: 0.2rem solid #d26d80;
}

@media only screen and (min-width: env(--breakpoint)) {
  .button {
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
  }
}
