.currentPlayer {
  background-color: rgba(255,255,255,0.5);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

/* @media only screen and (min-width: env(--breakpoint)) {
  .currentPlayer {
    /* max-width: 10rem; */
/*  }
} */
