<!doctype html>
<html>
  <head>
    <title><%= name %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="page-wrapper">
      <%- body -%>
      <%- include partials/footer -%>
    </div>
    <%- blocks.footerScripts -%>
  </body>
</html>
