<% layout('layout') -%>

<div class="game-off">
  <div class="game-off__message">
    <p>There is no <b><%= name %></b> game currently in progress.</p>
    <p><b>Check back soon!</b></p>
  </div>
</div>
