/* .page-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: calc(100vh - 2rem);
  width: auto;
  padding: 1rem;
  margin: 0 auto;
}

@media only screen and (min-width: env(--breakpoint)) {
  .page-wrapper {
    width: env(--breakpoint);
  }
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
} */

.page-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "cardheader header"
    "cardbody opponents"
    "footer footer";
}

.bingo-card-header {
  grid-area: cardheader;
}

.bingo-card {
  grid-area: cardbody;
}

.current-player {
  grid-area: header;
  align-self: center;
  justify-self: end;
}

.opponents {
  grid-area: opponents;
}

.page-footer {
  grid-area: footer;
  font-size: 0.8rem;
  text-align: center;
  font-style: italic;
  text-align: center;
}
