.page-wrapper {
  display: grid;
  grid-template-areas:
    "header"
    "cardheader"
    "cardbody"
    "opponents"
    "footer";
}

.bingo-card-header {
  grid-area: cardheader;
}

.bingo-card {
  grid-area: cardbody;
}

.current-player {
  grid-area: header;
  align-self: center;
  justify-self: center;
  margin-bottom: 1rem;
}

.opponents {
  grid-area: opponents;
}

.page-footer {
  grid-area: footer;
  font-size: 0.8rem;
  text-align: center;
  font-style: italic;
}

@media only screen and (min-width: env(--breakpoint)) {
  .page-wrapper {
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "cardheader header"
      "cardbody opponents"
      "footer footer";
  }

  .current-player {
    justify-self: end;
    margin-bottom: 0;
  }

  .opponents {
    margin-top: 110px;
  }
}
